<% all_tasks_valid_qs = false %> 
<% all_tasks_valid_devel = false %>

<% if @issue_ids.present? %>  
   <% all_tasks_valid_qs = @issues.all? do |issue| %>
     <% issue.project.present? && issue.status.present? &&
          ["Notarial - QS", "Registral - QS"].include?(issue.project.name) &&
          issue.status.name == "Teste NOK" %>
   <% end %>
   <% if !all_tasks_valid_qs %>
     <% all_tasks_valid_devel = @issues.all? do |issue| %>
       <% issue.project.present? && issue.status.present? &&
            !["Notarial - QS", "Registral - QS"].include?(issue.project.name) &&
            issue.status.name == "Resolvida" %>
     <% end %>
   <% end %>
<% else %>
   <% if @issue.present? %>
     <% all_tasks_valid_qs = ["Notarial - QS", "Registral - QS"].include?(@issue.project.name) && (@issue.status.name == "Teste NOK") %>
     <% all_tasks_valid_devel = !["Notarial - QS", "Registral - QS"].include?(@issue.project.name) && (@issue.status.name == "Resolvida") %>  
   <% end %>
<% end %>
<% if all_tasks_valid_qs %>
   <li><%= context_menu_link "Criar Retorno de Testes",
                             retorno_testes_lote_path(ids: @issue_ids, origem: "QS"),
                             remote: true,
                             class: "icon icon-copy" %></li>   
<% elsif all_tasks_valid_devel %>   
   <li><%= context_menu_link "Criar Retorno de Testes",
                             retorno_testes_lote_path(ids: @issue_ids, origem: "DEVEL"),
                             remote: true,
                             class: "icon icon-copy" %></li>                                 
<% end %>




<% all_tasks_valid_qs = false %> 
<% all_tasks_valid_devel = false %>
<% if @issue_ids.present? %>     
     <% all_tasks_valid_devel = @issues.all? do |issue| %>
       <% issue.project.present? && issue.status.present? &&
            !["Notarial - QS", "Registral - QS"].include?(issue.project.name) &&
            issue.status.name == "Resolvida" %>
     <% end %>   
<% else %>
   <% if @issue.present? %>     
     <% all_tasks_valid_devel = !["Notarial - QS", "Registral - QS"].include?(@issue.project.name) && (@issue.status.name == "Resolvida") %>  
   <% end %>
<% end %>
<% if all_tasks_valid_devel %>
   <li><%= context_menu_link "Encaminhar para QS",
                             encaminhar_qs_lote_path(ids: @issue_ids),
                             remote: true,
                             class: "icon icon-copy" %></li>
<% end %>


<% all_tasks_valid = false %>
<% if @issue_ids.present? %>     
     <% all_tasks_valid = @issues.all? do |issue| %>
       <% issue.status.present? &&
            ["Nova", "Em andamento", "Interrompida"].include?(issue.status.name) %>
     <% end %>   
<% else %>
   <% if @issue.present? %>     
     <% all_tasks_valid = ["Nova", "Em andamento", "Interrompida"].include?(issue.status.name) %>
   <% end %>
<% end %>
<% if all_tasks_valid %>
   <li><%= context_menu_link "Continua na proxima sprint",
                             continua_proxima_sprint_lote_path(ids: @issue_ids),
                             remote: true,
                             class: "icon icon-copy" %></li>
<% end %>

<li><%= context_menu_link "Processar indicadores",
                          processar_indicadores_lote_path(ids: @issue_ids),
                          remote: true,
                          class: "icon icon-copy" %></li>
