<%= form_tag({ controller: "sky_redmine_settings", action: "update" }, method: :post) do %>  
  <div class="box tabular settings">  
    <p>  
      <label>Horário de Execução</label>  
      <%= text_field_tag "settings[hora_execucao]", @settings["hora_execucao"], size: 10 %>  
      <em class="info">Formato: HH:MM (exemplo: 18:00)</em>  
    </p>  

    <fieldset class="box">  
      <legend>Status do Processamento</legend>  
      <p>  
        <label>Última Execução</label>  
        <%= @settings["ultima_execucao"] ? format_time(@settings["ultima_execucao"].to_time) : "Nunca executado" %>  
      </p>  
      <p>  
        <label>Tarefas Processadas</label>  
        <%= @settings["tarefas_processadas"] || 0 %>  
      </p>  
    </fieldset>  
  </div>  

  <%= submit_tag l(:button_save) %>  
<% end %>