<% content_for :header_tags do %>  
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" %>  
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %> 
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chartkick@5.0.1/dist/chartkick.min.js" %>  
  <%= stylesheet_link_tag "graficos", plugin: "sky_redmine_plugin" %>
<% end %> 

<%= form_with url: indicadores_path(@project), method: :get, local: true do %>  
  <div>  
    <%= label_tag :periodo, "Período:" %>  
    <%= select_tag :periodo, options_for_select([
                     ["Todo o período", "all"],
                     ["Este mês", "current_month"],
                     ["Último mês", "last_month"],
                     ["Este ano", "current_year"],
                   ], selected: @periodo) %>  
    <%= submit_tag "Filtrar" %>  
  </div>  
<% end %>  

<h2><%= l(:label_indicadores) %></h2>  

<%= render_graficos_container(@dados_graficos) %>

<!-- **Adicionar a tabela com estilos do Redmine** -->  
<h2>Listagem de Indicadores</h2>  
<div style="overflow-x: auto;">  
  <table class="list issues">  
    <thead>  
      <tr>  
        <% @colunas.each do |coluna| %>  
          <th><%= coluna.humanize %></th>  
        <% end %>  
      </tr>  
    </thead>  
    <tbody>  
      <% @indicadores.each do |indicador| %>  
        <tr class="<%= cycle("odd", "even") %>">  
          <% @colunas.each do |coluna| %>  
            <td><%= indicador.send(coluna) %></td>  
          <% end %>  
        </tr>  
      <% end %>  
    </tbody>  
  </table>  
</div>  

<!-- Controles de paginação -->  
<%= pagination_links_full(@indicadores_pages, @indicadores_count, per_page_links: per_page_options) %>