<%= javascript_include_tag "//www.gstatic.com/charts/loader.js" %>  
<%= javascript_include_tag "chartkick" %> 

<h2><%= l(:label_indicadores) %></h2>  

<h3><%= l(:label_tarefas_por_tipo) %></h3>  
<%= pie_chart @tarefas_por_tipo %>  

<h3><%= l(:label_tarefas_por_status) %></h3>  
<%= column_chart @tarefas_por_status %>  