<% content_for :header_tags do %>  
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" %>  
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %> 
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chartkick@5.0.1/dist/chartkick.min.js" %>  
  <%= stylesheet_link_tag "graficos", plugin: "sky_redmine_plugin" %>
<% end %> 

<%= form_with url: indicadores_path(@project), method: :get, local: true do %>  
  <div>  
    <%= label_tag :periodo, "Período:" %>  
    <%= select_tag :periodo, options_for_select([
                     ["Todo o período", "all"],
                     ["Este mês", "current_month"],
                     ["Último mês", "last_month"],
                     ["Este ano", "current_year"],
                   ], selected: params[:periodo]) %>  
    <%= submit_tag "Filtrar" %>  
  </div>  
<% end %>  

<h2><%= l(:label_indicadores) %></h2>  

<div class="graficos-container">  
  <div class="grafico">  
    <h3><%= l(:label_tarefas_por_tipo) %></h3>  
    <%= pie_chart @tarefas_por_tipo, adapter: "google" %>  
  </div>  

  <div class="grafico">  
    <h3><%= l(:label_tarefas_por_status) %></h3>  
    <%= column_chart @tarefas_por_status %>  
  </div>  
</div> 

<!-- **Adicionar a tabela abaixo dos gráficos** -->
<h2>Listagem de Indicadores</h2>
<table class="indicadores-tabela">
  <thead>
    <tr>
      <th>Primeira Tarefa DEVEL ID</th>
      <th>Última Tarefa DEVEL ID</th>
      <th>Status Última Tarefa DEVEL</th>
      <th>Tempo Estimado DEVEL</th>
      <th>Tempo Gasto DEVEL</th>
      <!-- Adicionar outras colunas conforme necessário -->
    </tr>
  </thead>
  <tbody>
    <% @indicadores.each do |indicador| %>
      <tr>
        <td><%= indicador.primeira_tarefa_devel_id %></td>
        <td><%= indicador.ultima_tarefa_devel_id %></td>
        <td><%= indicador.status_ultima_tarefa_devel %></td>
        <td><%= indicador.tempo_estimado_devel %></td>
        <td><%= indicador.tempo_gasto_devel %></td>
        <!-- Adicionar outras células conforme necessário -->
      </tr>
    <% end %>
  </tbody>
</table>